.item-card {
    height: fit-content;
    max-width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #9BD8DA;
    border-radius: 10px;
    margin: .5rem;
    padding: 1rem;
    box-shadow: 0px 4px 4px rgba(74, 74, 74, 0.25);
    border-radius: 10px;
    cursor: pointer;
}

.item-card>div {
    width: 100%;
}

.item-count {
    text-align: center;
    color: #132D1E;
    font-size: 4.5rem;
    font-weight: bold;
}

.item-count p {
    margin-bottom: 0.2rem;
}

.image {
    height: 10rem;
    /* background-image: url("./Dahi-Puri-3.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid red;
}

.item-name {
    margin: .5rem 0rem .5rem 0rem;
}

.item-name p {
    font-weight: bold;
    font-size: 2rem;
    line-height: 100%;
    text-align: left;
    color: #132D1E;

}

.item-price {
    margin: 0rem 0rem .5rem 0rem;
}

.item-price p {
    font-size: 1rem;
    line-height: 100%;
    text-align: left;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card-action {
    flex: 1;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-action button {
    background: #FF611D;
    box-shadow: 0px 4px 4px rgba(74, 74, 74, 0.25);
    border-radius: 10px;
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.card-action button i {
    margin: none !important;
}

/* responsive content */
@media screen and (max-width:820px) {
    .card-actions {
        flex-direction: column;
        width: 100%;
    }

    .card-action {
        width: 100%;
    }

    .card-action button {
        margin: .5rem 0rem 0rem 0rem;
        height: 3rem;
        font-size: 2rem;
    }
}