.division-playground-container {
    position: absolute;
    top: 9.5%;
    left: 8.5%;
    height: 84%;
    width: 91.5%;
    /* border: 10px solid blue; */
}

@media screen and (max-width:820px) {
    .division-playground-container {
        top: 16%;
        left: 18%;
        height: 84%;
        width: 81.5%;
    }
}